<div *ngIf="currentCustomer">
    <button matButton="filled" (click)="logout()">LogOut</button>
    <h2>Welcome {{currentCustomer.name}}</h2>
        Bice Bolje
    <h5>Profile information</h5>
    <p><strong>ID:</strong>{{currentCustomer._id}}</p>
    <p><strong>Email:</strong>{{currentCustomer.email}}</p>
    <p><strong>Phone:</strong>{{currentCustomer.phone}}</p>
    <p><strong>Birth Date:</strong>{{currentCustomer.date}}</p>
    <p ><strong>Role:</strong>{{currentCustomer.role}}</p>
     <button *ngIf ="currentCustomer.role === 'admin'" matButton="filled" [routerLink]="'/list'">
        Go to Customer List </button>
        <div>
            <input [(ngModel)]="task" type="text" palceholder="enter task name">
            <button (click)="addTask()">Add Task</button>

          <div >
             <ul *ngFor="let task of taskList" style="display: flex; justify-content: space-between; list-style: none;">
                    <li>{{task.id}}</li>
                    <li>{{task.name}}</li>
                    <li><button (click)="deleteTask(task.id)">Delete</button></li>
                </ul>
          </div>  
            
        </div>
</div>

