<button matButton="filled" [routerLink]="'/list'">Get back to the list</button>

<h4>Customer Details</h4>

<div *ngIf="customer$ | async as customer">
  <p><strong>Name:</strong> {{ customer.name }}</p>
  <p><strong>Email:</strong> {{ customer.email }}</p>
  <p><strong>Phone:</strong> {{ customer.phone }}</p>

  <input [(ngModel)]="task" type="text" placeholder="Enter task" />
  <button (click)="addTask(customer._id)">Add Task</button>

  <div *ngIf="taskList$ | async as taskList">
    <ul *ngFor="let task of taskList" style="display: flex; justify-content: space-between;">
      <li>{{ task.id }}</li>
      <li>{{ task.name }}</li>
      <button (click)="deleteTask(customer._id, task.id)">Delete</button>
    </ul>
  </div>
</div>
